.myCard__header {
    display: flex;
    justify-content: space-between;
}
.myCard__title{
    width: 75%;
}
.myCard__action{
    width: 25%;
}
.myCard__body {
    height: 150px;
    overflow-y: scroll;
}
.myCard__icon {
    padding-bottom: 5px;
    margin: 0 10px;
    font-size: 20px;
}
.task__list {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.text__decor{
    text-decoration-line: line-through;
}
.text__design{
    margin-bottom: none ;
    width: 70%;
}
